{% extends 'base.html' %}

{% block script%}
  <script>

    function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}
  $(document).ready(function(){
      var query = getParameterByName('q');
      var tweetList = [];

      function attachTweet(tweetValue, prepend){
        var tweetUser = tweetValue.user;
        var tweetContent = tweetValue.content;
        var dateDisplay = tweetValue .date_display;
        var tweetFormattedHtml =   "<div class='media'><div class='media-body'>" + tweetContent + '<br /> via ' + tweetUser.username +
          ' | ' + dateDisplay + " | " +  "<a href='#'> View </a>"  +
          "</div></div> <hr /> "
        if (prepend==true){
          $('#tweet-content').prepend(tweetFormattedHtml)
        } else {
          $('#tweet-content').append(tweetFormattedHtml)
        }
      }
      function parseTweets () {
        if (tweetList == 0) {
          $('#tweet-content').text('No tweet found currently')     
        } else {
          // tweets exist parse and display them 
            $.each(tweetList, function(key, value){
              var tweetKey = value.key;
              attachTweet(value)
            })
        }
      }
    function fetchTweets(){
      $.ajax({
        url: '/api/tweet/',
        data: {
          'q': query 
        },
        method: 'GET',
        success: function(data){    
          tweetList = data  
          parseTweets()
      },
        error: function(data){
          console.log('error')}
      })
    }
    var charsLeft = 140
    var charsCurrent = 0
    $('#tweet-form').append("<span id='tweetCharLeft'>" + charsLeft +  "</span>")

    $('#tweet-form textarea').keyup(function(e){
      var tweetVal = $(this).val()
      charsCurrent = charsLeft - tweetVal.length
      var spanChars =   $('#tweetCharLeft')
      spanChars.text(charsCurrent)
      if (charsCurrent > 0) {
        spanChars.remove('grey-color')
        spanChars.remove('red-color')
        // remove classes
      } else if (charsCurrent == 0){
        spanChars.addClass('grey-color')
        spanChars.remove('red-color')

        // add grey class
      } else if (charsCurrent < 0){
        spanChars.addClass('red-color')
        spanChars.remove('grey-color')
        //add red class
      }
    })

    fetchTweets()
    $('#tweet-form').submit(function (e){
      e.preventDefault()
      var _this = $(this)
      var formData = _this.serialize()
      if (charsCurrent >= 0) {
        $.ajax({
          url: '/api/tweet/create/',
          data: formData,
          method: 'POST',
          success: function(data){
            _this.find('input[type=text], textarea').val('')
            attachTweet(data, true)
            // console.log(data)
            // fetchTweets()
        },
          error: function(data){
            console.log(data.statusText)
            console.log(data.status)

          }
        })
      } else {
        console.log('Can not send tweet too long')
      }
    })
  })
  </script>
{% endblock script %}

{% block content %}


 <div class="row"> 
  <div class="col-sm-3 col-xs-12"> 
    <h1> {{ request.user }} </h1>
  </div>
  <div class="col-sm-9" >
        {% if not request.GET.q %}
          <div class="">
          {% include "tweets/form.html" with form=create_form action_url=create_url btn_title='Tweet' form_id='tweet-form' %}
          </div>
        <hr />
      {% endif %}
      {% for object in object_list %}

      <div id='tweet-content'>

      </div>
  {% endfor %}
   </div>
</div> 
  {% endblock content%}